<h1>Step 1: Choose your Model and Color</h1>
@if (models$ | async; as models) {
  <label for="modelSelect">Model</label>
  <select id="modelSelect" [formControl]="modelCode">
    <option [value]="null">Choose...</option>
    @for (model of models; track model) {
      <option [value]="model.code">{{ model.description }}</option>
    }
  </select>
  @if (modelColors().length > 0) {
    <label for="colorSelect">Color</label>
    <select id="colorSelect" [formControl]="colorCode">
      @for (color of modelColors(); track color) {
        <option [value]="color.code">{{ color.description }}</option>
      }
    </select>
  }
} @else if (modelsError) {
  <pre>
    Error loading models
    ----------------------
    StatusCode: {{ modelsError.status }}
    Description: {{ modelsError.message }}
  </pre>
} @else {
  <p>Loading...</p>
}
