<h1>Step 3: Summary</h1>
<h2>Your Tesla {{ model().description }}</h2>
<div id="data">
  <div>
    <div>{{ modelConfig().description }}</div>
    <div>{{ modelConfig().price | currency:'USD':'symbol':'1.2-2' }}</div>
  </div>
  <div>
    <div class="not-highlighted">
      Range: {{ modelConfig().range }} miles - Max speed: {{ modelConfig().speed }}
    </div>
  </div>
  <div>
    <div>{{ color().description }} Color</div>
    <div>{{ color().price | currency:'USD':'symbol':'1.2-2' }}</div>
  </div>
  @if (towHitch()) {
    <div><div>Tow Hitch Package</div><div>{{ 1000 | currency:'USD':'symbol':'1.2-2' }}</div></div>
  }
  @if (yoke()) {
    <div>
      <div>Yoke Steering Wheel Package</div><div>{{ 1000 | currency:'USD':'symbol':'1.2-2' }}</div>
    </div>
  }
  <div><div>TOTAL COST</div><div>{{ totalCost() | currency:'USD':'symbol':'1.2-2' }}</div></div>
</div>
