<h1>Step 2: Select your config and options</h1>
@if (modelOptions$ | async; as options) {
  <div>
    <label for="configSelect">Config</label>
    <select id="configSelect" [formControl]="configId">
      <option [value]="null">Choose...</option>
      @for (conf of options.configs; track conf) {
        <option [value]="conf.id">{{ conf.description }}</option>
      }
    </select>
  </div>
  @if (modelConfig()) {
    <div>
      <label>Range</label>
      <span>{{ modelConfig()?.range }} miles</span> - 
      <span>Max speed: {{ modelConfig()?.speed }}</span> -
      <span>Cost: {{ modelConfig()?.price | currency:'USD':'symbol':'1.2-2' }}</span>
    </div>
  }
  @if (options.towHitch) {
    <div>
      <label for="includeTow">Tow hitch?</label>
      <input id="includeTow" type="checkbox" [formControl]="towHitch"/>
    </div>
  }
  @if (options.yoke) {
    <div>
      <label for="includeYoke">Yoke steering wheel?</label>
      <input id="includeYoke" type="checkbox" [formControl]="yoke"/>
    </div>
  }
} @else if (modelOptionsError) {
  <pre>
    Error loading models
    ----------------------
    StatusCode: {{ modelOptionsError.status }}
    Description: {{ modelOptionsError.message }}
  </pre>
} @else {
  <p>Loading...</p>
}
