<button id="step1" routerLink="/step1" routerLinkActive="active-btn">Step 1</button>
<button id="step2" routerLink="/step2" routerLinkActive="active-btn"
    [disabled]="!model() || !color()">Step 2</button>
<button id="step3" routerLink="/step3" routerLinkActive="active-btn"
    [disabled]="!modelConfig()">Step 3</button>
<router-outlet/>
@if (imageAlt() && imageUrl()) {
  <div><img [alt]="imageAlt()" [src]="imageUrl()"/></div>
}
