@import "../node_modules/mini.css/dist/mini-dark.min.css";

#data { max-width: 760px; width: 100%; }
#data > div {
  display: flex;
  padding: 8px;

  div:first-child { font-weight: bold; }

  div { width: 50%;}
}

#data > div:last-child {
  border-top: 1px solid var(--table-body-fore-color);
  border-bottom: 1px solid var(--table-body-fore-color);
  margin-bottom: 1rem;
}

.not-highlighted { font-weight: normal !important; }
button { width: 25%; padding: 8px 16px; }

@media screen and (min-width: 768px) {
  button { max-width: 225px; }
}

.active-btn { background-color: var(--button-hover-back-color); }
